@bgimage_path: url('../../dist/common/images/image.png');
@import "../../stylelibrary/webpartcommon";
@import "../../stylelibrary/commonstyle";

.acs-calendar{
    width: 40%;
    min-width: 250px;

    .acs-calendar-table{
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        table-layout: fixed;
        border-top: 1px solid #e9e9e9;
        border-left: 1px solid #e9e9e9;

        .acs-calendar-month{
            padding: 10px 0;
            background: #f3f3f3;
            font-weight: bold;
            text-transform: uppercase;
            border-right: 1px solid #e9e9e9;
            border-bottom: 1px solid #e9e9e9;

            .icon-arrow-left{
                margin-right: 20px;
                cursor: pointer;
            }

            .icon-arrow-right{
                margin-left: 20px;
                cursor: pointer;
            }
        }

        .acs-calendar-week{
            background: #f3f3f3;
            text-transform: uppercase;
            border-right: 1px solid #e9e9e9;
            border-bottom: 1px solid #e9e9e9;
        }

        tr{
            height: 40px;

            td.acs-calendar-days{
                border-right: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;

                .acs-calendar-day{
                    position: relative;
                    margin: 18px auto;
                    max-width: 26px;
                    width: 50%;

                    .acs-calendar-dot{
                        width: 6px;
                        height: 6px;
                        border-radius: 3px;
                        background: #FFA500;
                        position: absolute;
                        left: 40%;
                        top: 22px;
                    }
                }

                .acs-calendar-today{
                    background: #FFA500;
                    color: #FFF;
                    border-radius: 2px;
                }

                .acs-calendar-notcurrent{
                    color: #e9e9e9;
                }
            }
        }
    }
}

.acs-eventline{
    margin-top: 20px;
    width: 25%;
    
    .acs-eventline-item{
        margin-left: 10px;
        position: relative;

        .acs-eventline-dot{
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #FFA500;
            left: -5px;
            top: 26px;
        }

        .acs-eventline-dot:after{
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background: #FFF;
            left: 2px;
            top: 2px;
        }

        .acs-eventline-line{
            position: absolute;
            width: 0;
            height: 76px;
            border-left: 1px dashed rgb(170, 170, 170);
            left: 0;
            top: 36px;
        }
        
        .acs-eventline-triangle {
            position: absolute;
            width: 0;
            height: 0;
            line-height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid #FFA500;
            left: 9px;
            top: 23px;
        }
        
        .acs-eventline-content{
            // color: #FFF;
            // background: #FFA500;
            background: #f3f3f3;
            border-radius: 3px;
            padding: 10px;
            margin-left: 25px;
            margin-bottom: 20px;
            min-width: 166px;

            .acs-eventline-name{
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .acs-eventline-time{
                color: #bbb;
                margin-top: 10px;
            }
        }

    }
}