@import "../../stylelibrary/webpartcommon";
@import "../../stylelibrary/commonstyle";

.acs-message{
    margin-top: 10px;
    background-color: #f2f4f6;
    text-align: center;
    padding: 15px;

    img{
        width: 200px;
    }

    .acs-message-title{
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
    }

    .acs-message-date{
        color: #666;
        margin: 10px 0;
    }

    .acs-message-content{
        color: #333;
        text-transform: uppercase;
    }
}