@import "../../stylelibrary/webpartcommon";
@import "../../stylelibrary/commonstyle";

.acs-message{
    width: 320px;
    margin-top: 10px;
    background: #f3f3f3;
    text-align: center;
    padding: 20px 0;

    img{
        width: 70%;
    }

    .acs-message-title{
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .acs-message-date{
        color: #bbb;
        margin: 10px 0;
    }

    .acs-message-btn{
        text-transform: uppercase;
        cursor: pointer;
    }
}