@import "../../stylelibrary/webpartcommon";

body {
    margin: 0;

    .ms-core-menu-box{
        z-index: 999 !important;
    }
}

.ms-dialog #acs_navigation{
    display: none !important;
}

#avepoint-suitebar{
	width:100%;
    height:60px;
	background-color: @orangeColor_1;

    #navigation {
        display: none;
        a {
            display: block;
            text-decoration: none;
            color: #000;
        }

        .ftitle-fontcolor{
            color: #585858;
        }
        .stitle-fontcolor{
            color: #444;
        }
        
        .stitle-selectcolor{
            color:#fff;
        }


        .acs-navbar {
            width: 100%;
            white-space: nowrap;

            .acs-navbar-item {
                display: inline-block;
                margin: 0 10px;
                min-width: 110px;
                width: auto;
                height: 50px;
                z-index: 98;
                position: relative;

                .acs-navbaritem-titlebtn {
                    height: 50px;
                    position: relative;
                    margin-top: 10px;
                    z-index: 99;
                    background-color: @orangeColor_1;
                    cursor: pointer;
                    text-align: center;

                    .acs-titlebtn-span {
                        line-height: 3;
                        margin: 0 20px;
                        font-family: @common_font_CE_55_ROMAN;
                        font-size: 14px;
                        font-weight: blod;
                        color: #fff;
                        font-weight: bold;
                    }

                   
                    .acs-titlebtn-up, .acs-titlebtn-down {
                        display: inline-block;
                        margin-left: 5px;
                        width: 9px;
                        height: 9px;
                        background-image: url('../../dist/common/images/image.png');
                    }

                    .acs-titlebtn-up {
                        background-position: -18px 0;
                    }

                    .acs-titlebtn-down {
                        background-position: 0 0;
                    }
                }

                 .ftitle-selectcolor{
                        background-color: #fff !important;
                        span{
                            color: @orangeColor_1 !important;
                        }
                    }


                .acs-titlebtn-boxshadow {
                    box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.2);
                
                }
                

                .acs-navbaritem-secondO {
                    min-width: 400px;
                    max-width: 660px;
                    width: auto !important;
                }

                .acs-navbaritem-second {
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    top: 60px;
                    width: auto;
                    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
                    background-color: #fff;

                    .acs-secondnav-item {
                        padding: 10px 10px 10px 20px;
                        width: 370px;
                        min-height: 20px;
                        background-color: #ffefe3;
                        border-bottom: 1px solid #fff;
                        border-left: 1px solid #fff;


                        //.acs-titlebtn-span {
                        //    display: flex;
                        //    align-items: center;
                        //    justify-content: space-between;
                        //}

                        .acs-thirdnav-itemlist {
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            left: 400px;
                            top: -1px;
                            height: 100%;
                        }

                        .acs-titlebtn-right, .acs-titlebtn-rightw {
                            float: right;
                            right: 20px;
                            width: 18px;
                            height: 18px;
                            background-image: url('../../dist/common/images/image.png');
                        }

                        .acs-titlebtn-right {
                            background-position: -126px -66px;
                        }

                        .acs-titlebtn-rightw {
                            background-position: -144px -66px;
                        }
                    }

                    .acs-secondnav-item:hover {
                        background-color: #ff8e3b;
                    }
                }

                .acs-itemlink {
                    margin-top: 20px;
                    margin-left: 20px;
                    margin-right: 25px;
                    min-width: 250px;
                    cursor: pointer;
                    font-family:@common_font_CE_55_ROMAN;
                    font-size: 13px;
                color: #444;

                    .acs-itemlink-icon {
                        display: inline-block;
                        margin-right: 8px;
                        width: 18px;
                        height: 18px;
                        background-image: url('../../dist/common/images/image.png');
                        background-position: -162px -66px;
                    }
                }
                .acs-itemlink:last-child {
                    margin-bottom: 25px;
                }
            }
        }
    }

    #mobileTitle{
        display: block;
        float: right;
        width: 120px;
        font-size: 18px;
        font-weight: 700;
        margin-right:e('calc(50% - 80px)');
        line-height: 3;
        color:#fff;
    }


    .acs-navbar-mobilebutton{
        display:block;
        float:left;
        margin-top: 5px;
        margin-left: 0;
        width:60px;
        height:55px;
        background-color:@orangeColor_1;
        border: none;

        .acs-navbar-buttonicon{
            display: block;
            width:55px;
            height: 40px;
            background-image: url('../../dist/common/images/image.png');
            background-position: -416px -280px;
        }
        .icon-bar{
            display:block;
            margin:auto;
            margin-bottom:8px;
            width:35px;
            height:5px;
            background-color:#fff;
        }
    }

    .acs-navbar-mobilebutton-selected{
        background-color:#fff;
        
       .acs-navbar-buttonicon{
            background-position: -471px -280px;
        }
    }
}
			
#mobilenav{
    display:none;
    padding: 6px;
    background-color: #fff;

    .acs-accordion-item{
        margin-top: 2px;
        width:100%;
        height:auto;
        min-height: 48px;
        cursor:pointer;

        .acs-accordionitem-retracticonw, .acs-accordionitem-expandiconw, 
        .acs-accordionitem-retracticong, .acs-accordionitem-expandicong,
        .acs-accordionitem-linkarrow{
            float: right;
            margin-top: 15px;
            margin-right: 15px;
            margin-left: auto;
            width:18px;
            height: 18px;
            background-image: url('../../dist/common/images/image.png');
        }

        .acs-accordionitem-retracticonw{
             background-position: -26px -280px;
             background-color: gray;
        }
        .acs-accordionitem-expandiconw{
             background-position: 0 -280px;
             background-color: gray;
        }
        .acs-accordionitem-retracticong{
             background-position: -78px -280px;
           
        }
        .acs-accordionitem-expandicong{
            background-position: -52px -280px;
        }

        .acs-accordionitem-linkarrow{
            display: inline-block;
            float:none;
            margin-right: 0;
            margin-top: 0;
            vertical-align: middle;
            background-position: -52px -280px;
        }

        .acs-accordionitem-head{
            width:100%;
            min-height: 48px;
            background-color:#f2f4f6;
            line-height: 48px;

            .acs-divisionhead-title{
                margin-left: 10px;
                font-family: @common_font_CE_55_ROMAN;
                font-size: 16px;
                font-weight:bold;
                color:#333;
            }
        }

        .acs-accordionitem-visited{
            background-color:@orangeColor_1;
            span.acs-divisionhead-title{
                color:#fff;
            }
        }

        .acs-accordionitem-content{
            width:100%;    
            height:0;
            overflow:hidden;
            transition:height 0.5s;

            > a{
                display:block;
                width:100%;
                height:50px;
                background-color:#fff;
                color:#444;
                font-family: @common_font_CE_55_ROMAN;
                font-size: 14px;
                cursor:pointer;
                line-height: 4;

                span{
                    margin-left: 20px;
                }
            }
        }
    }

    .acs-accordion-itemlink{
        display:block;
        margin-top: 2px;
        width:100%;
        height:48px;
        background-color:#f2f4f6;
        color:#333;
        font-family: @common_font_CE_55_ROMAN;
        font-size: 16px;
        font-weight: bold;
        cursor:pointer;
        text-decoration: none;
        line-height: 3;

        span{
            margin-left: 10px;
        }
    }
}
			


@media (min-width:768px){
   #avepoint-suitebar{
       .acs-navbar-mobilebutton{
           display: none;
       }

       #navigation{
           display: block;
       }

       #mobileTitle{
           display: none;
       }
   }
    #mobilenav{
        display: none;
    }
}



