@import "../../stylelibrary/webpartcommon";

#birthday {
    width: 100%;
    height: 370px;

    .acs-webpartframe {
        position: relative;
        .acs-webpartframe-header {
            .acs-header-icon {
                width: 26px;
                height: 26px;
                background-position: -78px -36px;
            }

            .acs-header-more{
                position: absolute;
                bottom: 0px;
                left: 0px;
                font-size: 12px;
                font-weight: bold;
                color: #0088ff;
                text-transform: uppercase;

                span{
                    display: inline-block;
                }

                .acs-header-more-icon{
                    width: 17px;
                    height: 17px;
                    margin-left: 5px;
                    background-image:@bgimage_path; 
                    background-position: -36px 0px;
                    vertical-align: middle;
                }            
            }
        }

        ul {
            display: flex;
            position: relative;
            left: 0;
            margin: 10px 0 0 0 !important;
            padding: 0px !important;
            height: 300px;
            flex-wrap: nowrap;

            > li {
                display: block;
                height: auto;
                width: 100%;
                padding-left: 1px;
                max-width: 310px;

                > a {
                    float: left;
                    width: 100px;
                    height: 100px;
                    text-decoration: none;
                    border-radius: 4px;
                    margin-top: 4px;
                    text-align: center;
                    position: relative;
					overflow: hidden;
					
                    .acs-linkitem-img {
                        width: 100%;
                        height: 100%;
                    }
					.acs-linkitem-label {
						position: absolute;
						height: 52px;
						bottom: -26px;
						text-align: center;
						font-size: 11px;
						width: 100%;
						background: -webkit-linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.6) 90%);
						background: -moz-linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0, 0.6) 90%);
						background: -o-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6) 90%);
						background: -ms-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6) 90%);
						background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6) 90%);
						.acs-linkitem-title, .acs-linkitem-birth  {
							display: block;
							color: #fff;
							white-space: normal;
							font-family: @common_font_CE_55_ROMAN;      
							line-height: 26px;
							height:26px;    
						}
					}
					.acs-linkitem-label:hover {
						animation: myfirst 0.5s;
						-moz-animation: myfirst 0.5s; /* Firefox */
						-webkit-animation: myfirst 0.5s; /* Safari and Chrome */
						-o-animation: myfirst 0.5s; /* Opera */
						
						animation-fill-mode:forwards;
						-moz-animation-fill-mode: forwards; 
						-webkit-animation-fill-mode: forwards; 
						-o-animation-fill-mode: forwards; 
						background: -webkit-linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0,0.7) 100%);
						background: -moz-linear-gradient(rgba(0,0,0,0.1) ,rgba(0,0,0, 0.7) 100%);
						background: -o-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7) 100%);
						background: -ms-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7) 100%);
						background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7) 100%);
					}
					
					@keyframes myfirst {
						from {
							bottom: -26px;
						}

						to {
							bottom: 0;
						}
					}

					@-moz-keyframes myfirst /* Firefox */
					{
						from {
							bottom: -26px;
						}

						to {
							bottom: 0;
						}
					}

					@-webkit-keyframes myfirst 
					{
						 from {
							bottom: -26px;
						}

						to {
							bottom: 0;
						}
					}

					@-o-keyframes myfirst 
					{
						 from {
							bottom: -26px;
						}

						to {
							bottom: 0;
						}
					}	
                }

                > a:nth-child(3n+2) {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}

@media(max-width:768px) {
    #birthday{
        display: none;
    }
}
