<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../node_modules/react/dist/react.js"></script>
    <script src="../../node_modules/react-dom/dist/react-dom.js"></script>
    <link href="../../dist/layouts/flexlayout/flexlayout.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="content" style="width:1000px;"></div>
    <script src="../../dist/layouts/flexlayout/flexlayout.js"></script>
</body>
</html>