@import "../../stylelibrary/webpartcommon";

#panel{
    .acs-panelframe{
        width: e('calc(50% - 2px)');
        display: inline-block;
        height: 80px;
        line-height: 80px;
        border: 1px solid #ff9c00;        
        margin-bottom: 15px;
        background-image: -webkit-linear-gradient(left, rgb(255,247,226), rgb(255,255,255));
        background-image: -ms-linear-gradient(right, rgb(255,247,226), rgb(255,255,255));
        background-image: -moz-linear-gradient(right, rgb(255,247,226), rgb(255,255,255));
        background-image: linear-gradient(to right, rgb(255,247,226), rgb(255,255,255)); /* 标准的语法（必须放在最后） */
        cursor: pointer;

        .acs-panelframe-title{
            font-size: 16px;
            font-weight: bold;
            font-family: @common_font_CE_55_ROMAN;
            color: #333;
            margin-left: 20px;
            float: left;

            .acs-panelframe-alert{
                margin-left: 10px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 4px;
                background-color: #ff4444;
                color: #fff;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
            }
        }

        .acs-panelframe-ico{  
            display: none;          
            margin-right: 20px;
            float: right;
            margin-top: 27px;
            width: 66px;
            height: 66px;
            background-image: url(../../dist/common/images/image.png);
        }
    }

    @media(max-width:768px) {
        display: none;
    }
}

@media(max-width:768px) {
    #acs_navigation_link{
        display: block !important;
    }
}

#acs_navigation_link{
    display: none;
    width: 100%;
    height: 40px;
    background: #fff5e5;
    border-bottom: 1px;
    padding-top: 5px;
    >div{
        margin: 0 auto;
        width: 240px;
        line-height: 40px;

        >a{
            display: inline-block;
            background-image: @bgimage_path;
            width: 26px;
            height: 26px;
            display: inline-block;
        }
        .link_date{
            background-position: -104px -280px;
            margin-right: 80px;
        }
        .link_hr{
            background-position: -130px -280px;
            margin-right: 80px;
        }
        .link_task{
            background-position: -156px -280px;
            position: relative;
            div{
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 4px;
                background: #ff4444;
                font-size: 10px;
                color: #fff;
                top: -2px;
                left: 15px;
                line-height: 16px;
                text-align: center;
            }
        }
    }
}
