@font-face {
    font-family: 'Frutiger CE 45 Light';
    src: url('/_layouts/15/APPSAICSolution/Fonts/frutiger-ce-45-light.ttf'),url('/_layouts/15/APPSAICSolution/Fonts/frutiger-ce-45-light.eot');
}

@font-face {
    font-family: 'Frutiger CE 55 Roman';
    src: url('/_layouts/15/APPSAICSolution/Fonts/frutiger-ce-55-roman.ttf'),url('/_layouts/15/APPSAICSolution/Fonts/frutiger-ce-55-roman.eot');
}

@font-face {
    font-family: 'Frutiger LT 55 Roman';
    src: url('/_layouts/15/APPSAICSolution/Fonts/frutiger-lt-55-roman.ttf'),url('/_layouts/15/APPSAICSolution/Fonts/frutiger-lt-55-roman.eot');
}


.icon-location:before {
    content: "\e947";
}

.icon-clock:before {
    content: "\e94e";
}

.icon-link:before {
    content: "\e9cb";
}

body {
    #s4-workspace {
        #s4-bodyContainer {
            #s4-titlerow {
                #titleAreaBox {
                    display: block;

                    #titleAreaRow {
                        display: block;
                        white-space: nowrap;

                        > div:nth-child(2).ms-breadcrumb-box {
                            // display: none;
                            display: inline-block;
                            width: auto;
                            min-width: e('calc(100% - 400px)');
                        }

                        > div:nth-child(3) {
                            display: inline-block;

                            #DeltaPlaceHolderSearchArea {
                                margin-top: 10px;
                                padding-left: 10px;
                            }

                            #SearchBox {
                                & > div {
                                    height: 30px;
                                    border-radius: 15px;

                                    input {
                                        height: 28px;
                                        padding-left: 15px;
                                        font-family: 'Frutiger CE 55 Roman';
                                        font-size: 13px;
                                        color: #aaa;
                                    }

                                    ::-ms-clear {
                                        display: none;
                                    }
                                }

                                .ms-srch-sb-border {
                                }

                                .ms-srch-sb-borderFocused {
                                }

                                .ms-srch-sb-searchLink {
                                    margin-top: 4px;
                                    margin-right: 10px;
                                    background-image: url(/_layouts/15/APPSAICSolution/Images/image.png);
                                    background-position: -72px -66px;

                                    img {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #suiteBar {
        display: block;
        height: 34px;
        background-color: #ffbc35;

        #suiteBarLeft {
            display: none;
        }

        #suiteBarRight {
            display: block;
            float: right;
            padding-right: 0;
            margin-right: 20px;
            margin-top: 2px;

            #DeltaSuiteBarRight {
                background-color: #ffbc35;

                #welcomeMenuBox{
                    font-family: 'Frutiger LT 55 Roman';
                }
            }
        }
    }

    #s4-workspace {
        position: relative;

        .acs-footer {
            clear: both;
            background: #57575f;
            width: 100%;
            min-width: 100%;
            height: 90px;
            line-height: 90px;
            position: absolute;
            bottom: 0px;
            display: flex;
            justify-content: space-between;

            & > .acs-link > a {
                font-family: 'Frutiger CE 55 Roman';
                font-size: 13px;
                color: #ddd;
                text-transform: uppercase;
                margin-left: 40px;
            }

            .acs-search {
                margin-right: 40px;
                position: relative;
                display: inline-block;

                input {
                    width: 220px;
                    height: 30px;
                    line-height: 30px;
                    background: rgba(255,255,255,0.1);
                    color: #aaa;
                    font-family: 'Frutiger CE 55 Roman';
                    font-size: 13px;
                    padding-left: 10px;
                    border-radius: 15px;
                    outline: none;
                    border: none;
                }

                input::-ms-clear {
                    display: none;
                }

                a {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 37px;
                    right: 10px;
                    background-image: url(/_layouts/15/APPSAICSolution/Images/image.png);
                    background-position: -72px -66px;
                }
            }
        }

        .acs-footer-relative {
            position: relative;
        }
    }
}
