@bgimage_path: url('../../dist/common/images/image.png');
@common_font_CE_55_ROMAN: 'Frutiger CE 55 Roman';
@common_font_LT_55_ROMAN: 'Frutiger LT 55 Roman';


body{
     #contentRow{
        .ms-breadcrumb-dropdownBox{
            display: none !important;
        }
    } 
}
.text_overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

.acs-webpartframe {
    height: 100%;

    .acs-webpartframe-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-decoration: none;

        .acs-header-icon {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-image: @bgimage_path;
        }

        .acs-header-title, .acs-header-more {
            color: rgb(51,102,0);
            text-transform: uppercase;
            font-family: @common_font_CE_55_ROMAN;
        }

        .acs-header-title {
            display: inline-block;
            margin-left: 10px;
            font-weight: bold;
            font-size: 16px;
            flex-grow: 2;
        }

        .acs-header-more {
            display: inline-block;
            text-align: right;
            flex-grow: 1;
        }
    }    
}

.acs-sliderframe {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .acs-slider-arrow-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;

            .acs-slider-arrow-left, .acs-slider-arrow-right {
                width: 26px;
                height: 26px;
                background-image: @bgimage_path;
                z-index: 100;
                cursor: pointer;
                display: inline-block;
            }

            .acs-slider-arrow-left {
                background-position: -26px -40px;
            }

            .acs-slider-arrow-right {
                background-position: -52px -40px;
            }

            .acs-slider-arrow:hover {
                background: rgba(0, 0, 0, 0.2);
            }

            .acs-slider-dots {
                margin-bottom: 15px;
                height: 26px;
                text-align: center;
                z-index: 99;


                .acs-slider-dot {
                    display: inline-block;
                    margin: 10px;
                    width: 9px;
                    height: 9px;
                    background-color: #ccc;
                    cursor: pointer;
                    border-radius: 20px;
                }

                .acs-slider-dot-selected {
                    background: #f57d30;
                }
            }
        }
    }

.acs-webpartframe-topline{
    border-top: 3px solid #f57d30;
}