@white: white;
@margin_common: 2px;
@border_radius: 3px;
@clander_color: #606060;
@font_color: #A0A0A0;
@title_color: #F57D30;
@detail_Font_color: #888;

@import "../../stylelibrary/webpartcommon";

#discussion {
    width: 310px;
    height: 380px;
    background-color: #FFFFFF;

    .acs-webpartframe {
        position: relative;
        .acs-webpartframe-header {
             .acs-header-icon {
                width: 26px;
                height: 26px;
                background-position: -52px -36px;
            }

            .acs-header-more{
                position: absolute;
                bottom: 0px;
                left: 0px;
                font-size: 12px;
                font-weight: bold;
                color: #0088ff;
                text-transform: uppercase;

                span{
                    display: inline-block;
                }

                .acs-header-more-icon{
                    width: 17px;
                    height: 17px;
                    margin-left: 5px;
                    background-image:@bgimage_path; 
                    background-position: -36px 0px;
                    vertical-align: middle;
                }            
            }
        }
        ul {
            position: relative;
            left: 0;
            height: 330px;
            overflow: hidden;
            margin: 0px !important;
            padding: 0px !important;
        }

        .acs-slider-pic {
            display: inline-block;
            height: 100%;           

            img {
                display: block;
                height: auto;
                width: 100%;
            }

            .acs-evnet-container {                
                border-left: 2px solid orange;
                margin-top: 10px;
                background: #f2f4f6;
            }

            .acs-corporate-events {
                margin-bottom: 30px;
                color: @title_color;
                align-items: center;

                span.acs-eventPic {
                    height: 40px;
                    width: 40px;
                    background-image: @bgimage_path;
                    background-position: -80px 0;
                }
            }

            div.acs-timeDes {
                margin-left: 10px;
                width: 100%;
                padding: 15px 0;

                div.acs-pic-clock {
                    color: @detail_Font_color;
                    height: 18px;
                    width: 18px;
                    background-image: @bgimage_path;
                    background-position: 0 -18px;
                    display: inline-block;
                }

                ;

                div.acs-pic-location {
                    color: @detail_Font_color;
                    height: 18px;
                    width: 18px;
                    background-image: @bgimage_path;
                    background-position: -18px -18px;
                    display: inline-block;
                }

                ;

                span.acs-event-time, span.acs-event-location {
                    color: @detail_Font_color;
                    font-family: @common_font_CE_55_ROMAN;
                    font-size: 13px;
                    text-align: left;
                    margin-left: 5px;
                    .text_overflow;
                    width: calc(100% - 25px);
                }

                div.acs-timeDes-title {
                    margin-bottom: 10px;

                    a.acs-title {
                        color: #444;
                        font-family: @common_font_CE_55_ROMAN;
                        font-size: 14px;
                        font-weight: bold;
                        text-decoration: none;
                        .text_overflow;
                    }
                }

                div.acs-timeDes-time {
                    margin-bottom: 5px;
                    height: 18px;
                    line-height: 18px;
                }

                div.acs-timeDes-location {
                    height: 18px;
                    line-height: 18px;
                }
            }            
        }
    }
}
