@bgimage_path: url('../../dist/common/images/image.png');
@import "../../stylelibrary/webpartcommon";

#quicksearch{

    .acs-searchbox-container{
        width: 300px;
        height: 250px;
        background-color: #faecec;

       .acs-searchbox-title{
           height: 40px;

           .acs-searchbox-title-icon{
               width: 40px;
               height: 40px;
               float: left;
               background: @bgimage_path;
           }

           .acs-searchbox-title-name{
               margin: 12px 10px;
               font-size: 16px;
               font-weight: bold;
               float: left;
               color: #737395;
           }
       }

       .acs-searchbox{
           width: 90%;
           margin: 20px 5%;
           background-color: #fffcfc;

           .acs-searchbox-headericon{
               width: 26px;
               height: 26px;
               margin: 2px 5px;
               background-image: @bgimage_path;
               float: left;
           }
           .acs-searchbox-input{
               width: 70%;
               height: 28px;
               border: none;
               outline: none;
               float: left;
           }
           .acs-searchbox-tailicon{
               width: 26px;
               height: 26px;
               margin: 7px 5px;
               background-image: @bgimage_path;
               float: left;
               background-position: -67px -66px;
           }
       }

    }
}