@bgimage_path: url('../../dist/common/images/image.png');
@import "../../stylelibrary/webpartcommon";

 .acs-articleframe{
    display: inline-block;
    vertical-align: top;
    font-family:@common_font_CE_55_ROMAN;

    > div{
        position: relative;
        padding:20px 0;
    }

    .acs-articleframe-header{
        margin-bottom: 0;
        height: 0;

        .acs-articleframe-header-icon{
            display: none;
            width: 40px;
            height: 40px;
            float: left;
            background-image: @bgimage_path;
            background-position: 0 -174px;
        }
        
        .acs-articleframe-header-title{
            position: absolute;
            top:90px;
            float: none;
            margin: 0;
            width:e('calc(100% - 60px)');
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 16px;
            font-weight: bold;
            color: #9292b2;
            text-transform: uppercase;            
            cursor: pointer;
        }
    }

    .acs-articleframe-picture{
        display: inline-block;
        width: 112px;
        height: 63px;
        margin-bottom: 15px;
        vertical-align: top;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .asc-article-content{
        display: inline-block;
        margin-left: 20px;
        width: e('calc(100% - 132px)');

        
        .acs-articleframe-headline{
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: bold;
            color: #333;
        }
        
        .acs-articleframe-intro,.acs-articleframe-time, .acs-articleframe-like{
            font-size: 13px;
            color: #655e5e;
        }
        
        .acs-articleframe-intro{
            margin-top: 5px
        }

        .acs-articleframe-time-icon, .acs-articleframe-like-icon{
            display: inline-block;
            margin-right: 5px;
            height: 18px;
            width: 18px;
            background-image: @bgimage_path;
        }

        .acs-articleframe-time{
            .acs-articleframe-time-title{
                display: inline-block;
                font-size: 13px;
                color:#888;
                vertical-align: top;
            }

            .acs-articleframe-time-icon{
                background-position: -36px -18px;
            }
        }

        .acs-articleframe-like{
            .acs-articleframe-like-title{
                display: inline-block;
                font-size: 13px;
                color:#888;
                vertical-align: top;
            }

            .acs-articleframe-like-icon{
                cursor: pointer;
                background-position: -54px -18px;
            }
        }
    }
}

.acs-articleframe-header-icon-BUSINESS{
     .acs-articleframe{
         .acs-articleframe-header{
            .acs-articleframe-header-icon{
                background-position: 0 -174px;
            }
         }
     }
}

.acs-articleframe-header-icon-INNOVATION{
    .acs-articleframe{
         .acs-articleframe-header{
           .acs-articleframe-header-icon{
                background-position: -40px -174px;
            }  
         }
     }
}

.acs-articleframe-header-icon-SOCIAL_IMPACT{
    .acs-articleframe{
         .acs-articleframe-header{
            .acs-articleframe-header-icon{
                background-position: -80px -174px;
            } 
         }
     }
}

.acs-articleframe-header-icon-PEOPLE_AND_CULTURE{
    .acs-articleframe{
         .acs-articleframe-header{
            .acs-articleframe-header-icon{
                background-position: -120px -174px;
            } 
         }
     }
}

.acs-articleframe-header-icon-WORK_SMART{
    .acs-articleframe{
         .acs-articleframe-header{
             .acs-articleframe-header-icon{
                background-position: -160px -174px;
            }
         }
     }
}



body{
    font-family:@common_font_CE_55_ROMAN;
    #categoryArticles{
        margin-top: 20px;
        .acs-searchpanel{
            position: relative;
            margin-bottom: 0;
            padding:0 15px;
            height:40px; 
            text-align: left;
            .acs-searchpanel-tabbtn{
                margin-right: 40px;
                display: inline-block;
                height: 30px;
                width:auto;
                font-size:14px;
                font-family: Open Sans;
                color:#333;
                cursor: pointer;
                line-height: 2.3;

                div{
                    display: none;
                    width: 100%;
                    height: 2px;
                    border-radius: 1px;
                    background-color: #ff9c00;
                }
            }

            .acs-searchpanel-tabselect{
                color:#ff9c00;
                font-weight: bold;
                
                div{
                    display: block;
                }
            }

            .acs-searchpanel-tabbtn:hover{
                color:#ff9c00;
            }

            .acs-searchpanel-div{
                //display: none;
                position: absolute;
                left:-300px;
                top: 5px;
                align-items: center;
                float:none;
                width:220px;
                transition:left 1s;
                height:30px;
                border:1px solid #d7d7d7;
                border-radius: 15px;
                background-color: #fff;

                input{
                    display:block;
                    float:left;
                    margin-left: 10px;
                    padding:0;
                    padding-left: 10px;
                    width:175px;
                    height:28px;
                    border:none;
                    outline:none;
                }

                input[type="text"]::-ms-clear{
                    display: none;
                }

                .acs-searchicon{
                    display: block;
                    float: right;
                    width:18px;
                    height: 18px;
                    background-image: @bgimage_path;
                    background-position: -90px 0;
                    cursor: pointer;
                }

                .acs-clearsearchicon{
                    display: none;
                    width:18px;
                    font-size: 18px;
                    text-align: center;
                    cursor: pointer;
                }   
            }

            .acs-searchpanel-ctrlbtn{
                display: block;
                float: right;
                margin-top: 5px;
                width: 30px;
                height: 30px;
                border:1px solid #9292b2;
                border-radius: 15px;

                .acs-searchicon{
                    display: block;
                    margin: auto;
                    margin-top: 5px;
                    width:18px;
                    height: 18px;
                    background-image: @bgimage_path;
                    background-position: -90px 0;
                }
            }
        }

        .acs-articles-content{
            margin-top: 0;
            margin-bottom: 0;
            height: auto;

            .acs-articles-contentrow{
                margin-bottom: 0;
                width: 100%;
                height: auto;
            }
        }

        .acs-articles-loadmore{
            margin-bottom: 30px;
            margin-top: 10px;
            width: 100%;
            height: auto;
            font-size: 13px;
            color:#888;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
        }
    }
}


@media (min-width:768px){

    .acs-articleframe{
        >div{
            padding:0 10px;
        }
        > div:nth-child(1){
            padding-left:0;
        }
         >div:nth-child(4){
            padding-right:0;
        }

        .acs-articleframe-header{
            margin-bottom: 10px;
            height: 40px;

            .acs-articleframe-header-icon{
                display: block;
            }

                .acs-articleframe-header-title{
                position: static;
                margin: 12px 10px;
                float: left;
            }
        }

        .acs-articleframe-picture{
            display: block;
            width: 100%;
            height: auto;
        }

        .asc-article-content{
            display: block;
            margin-left: 0;
            width:100%;
            height: auto;
        }
    }


    body{
        #categoryArticles{
            margin-top: 40px;
            .acs-searchpanel{
                position: static;
                margin-bottom: 20px;
                padding:0;
                text-align: right;

                .acs-searchpanel-div{
                    position: static;
                    display: flex;
                    float: right;
                }

                .acs-searchpanel-ctrlbtn{
                    display: none;
                }
            }

            .acs-articles-content{
                 margin-top: 10px;
                 margin-bottom: 20px;

                .acs-articles-contentrow{
                    margin-bottom: 30px;
                   // .acs-articleframe;
                }
            }
        }
    }
}

