@import "../../stylelibrary/webpartcommon";


.acs-listframe{
    width:25%;
    margin: 10px;

    .acs-listframe-title{
        color: #FFF;
        background: #FFA500;
        height: 20px;
        padding: 10px 0;
        text-align: center;

        span{
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .acs-listframe-content{
        // border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        min-height: 100px;

        ul{
            list-style: none;
            padding-left: 0;
            margin: 0;

            li{
                padding: 20px;
                border-bottom: 1px solid #ccc;

                .content-title{
                    font-weight: bold;
                }

                .content-footer{
                    margin-top: 15px;
                    color: #8A8A8A;
                    font-size: 13px;
                }
            }
        }
    }
}