@import "../../stylelibrary/webpartcommon";

div[id$="slider"] {
    width: 100%;    

    .acs-sliderframe {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 100%;

        ul {
            position: relative;
            left: 0;
            overflow: hidden;
            transition: left 1s;
            margin: 0px !important;
            padding: 0px !important;
            height: 100%;

            .acs-slider-pic {                
                height: 100%;
                display: inline-block;

                > div {
                    display: block;
                    width: 100%;
                    padding-left: 1px;
                    position: relative;
                    height: 100%;

                    .acs-slider-pic-front{
                        width: 100%;
                        position: absolute;
                        left:0px;
                        top: 0px;
                        z-index: 2;
                        height: 100%;                                           
                    }

                    .acs-slider-pic-back{
                        height: 100%;
                        width: 70%;
                        position: absolute;
                        left:30%;;
                        top: 0px;
                        z-index: 1;                        
                    }

                    img {
                        display: block;
                        width: 100%;
                    }
                }



                .acs-titledescriptionpanel-wrap {
                    position: absolute;                    
                    left: 90px;
                    top: 25%;
                    padding: 15px;
                    max-width: 350px;
                    height: 55px;
                    font-family: @common_font_CE_55_ROMAN;

                    a {
                        display: block;
                        margin-top: 10px;
                        height: 100%;
                        width: 100%;
                        text-decoration: none;
                    }

                    .acs-titledescriptionpanel-title {
                        display: block;
                        color: #ff8800;
                        font-weight: bold;
                        font-size: 24px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .acs-titledescriptionpanel-description {
                        display: block;
                        color: #333;
                        font-size: 15px;
                        width: 100%;
                        max-width: 100%;
                        line-height: 20px;
                        margin-top: 30px;
                        word-break: break-all;
                    }
                }
            }
        }

        .acs-slider-arrow-wrap {
            display: inline-block;
            position: absolute;
            top: e('calc(50% - 37px)');
            margin-top: -20px;            
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            z-index: 100;
            width: 100%;
            cursor: pointer;
        }

        .acs-slider-arrow-right {
            right: 0;
            position: absolute;
            div{                
                background-position: -34px -140px;
            }
        }

        .acs-slider-arrow-left {
            left: 0;
            position: absolute;
            div{
                background-position: 0px -140px;
            }            
        }

        .acs-slider-arrow:hover {
            background: rgba(0, 0, 0, 0.2);
        }

        .acs-slider-arrow-left, .acs-slider-arrow-right{
            width: 44px;
            height: 74px;
            background: rgba(68,68,68,0.2);
            text-align: center;
            line-height: 83px; 
        } 

        .acs-slider-arrow-left:hover, .acs-slider-arrow-right:hover{
            background: rgba(68,68,68,0.5)
        } 

        .acs-slider-arrow-left div, .acs-slider-arrow-right div{
                width: 34px;
                height: 34px;
                background-image: @bgimage_path;
                z-index: 100;
                cursor: pointer;
                display: inline-block;
        }
    }
}
