#slider {
    .acs-sliderframe {
        position: relative;
        width: 100%;
        overflow: hidden;

        ul {
            position: relative;
            left: 0;
            height: auto;
            overflow: hidden;
            transition: left 1s;
            margin: 0px !important;
            padding: 0px !important;
        }

        .acs-slider-pic {
            display: inline-block;
            height: auto;

            img {
                display: block;
                height: auto;
                width: 100%;
            }

            .acs-titledescriptionpanel-wrap {
                height: 80px;
                background: greenyellow;
                width: 100%;
                position: absolute;
                bottom: 0;

                a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    text-decoration: none;
                }

                .acs-titledescriptionpanel-title {
                    display: block;
                    color: white;
                }

                .acs-titledescriptionpanel-description {
                    display: block;
                    color: white;
                }
            }
        }

        .acs-slider-link{
            display: flex;
            flex-wrap:nowrap;

            .slider-link{
                display: flex;
                height:auto;
                width:100%;
			    flex-wrap:wrap;
			    align-items:stretch;
			    justify-content:space-between;

                 .item-link{
                    margin:10px 0;
			        width:30%;
			        height:30%;
			        text-decoration:none;
			        border-radius:10px;
			        background-color:#666;
			        flex-direction:column;
			        display: flex;
  			        flex-wrap: wrap;
  			        justify-content: space-around;
 			        align-items: center;
                }
            }
        }

        .acs-slider-arrow {
            display: inline-block;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            padding: 20px;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            z-index: 100;
            cursor: pointer;
        }

        .acs-slider-arrow-right {
            right: 0;
        }

        .acs-slider-arrow-left {
            left: 0;
        }

        .acs-slider-arrow:hover {
            background: rgba(0, 0, 0, 0.2);
        }

        .acs-slider-dots {
            position: absolute;
            bottom: 80px;
            width: 100%;
            text-align: center;
            z-index: 99;

            .acs-slider-dot {
                display: inline-block;
                margin: 6px;
                width: 6px;
                height: 6px;
                border: 3px solid #ccc;
                cursor: pointer;
                border-radius: 20px;
            }

            .acs-slider-dot-selected {
                background: #ccc;
            }

            .acs-slider-dot:hover {
                border: 3px solid #868686;
            }
        }
    }
}
