@import "../../stylelibrary/webpartcommon";

div[id$="newsslider"] {
    width: 100%;   

    .acs-sliderframe {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 100%;

        ul {
            position: relative;
            left: 0;
            overflow: hidden;
            transition: left 1s;
            margin: 0px !important;
            padding: 0px !important;
            height: 100%;

            .acs-slider-pic {                
                height: 100%;
                display: inline-block;

                > div {
                    display: block;
                    width: 100%;
                    padding-left: 1px;
                    position: relative;
                    height: 100%;

                    .acs-slider-pic-front{
                        width: 100%;
                        position: absolute;
                        left:0px;
                        top: 0px;
                        z-index: 2;
                        height: 100%;                                           
                    }

                    .acs-slider-pic-back{
                        height: 100%;
                        width: 70%;
                        position: absolute;
                        left:30%;;
                        top: 0px;
                        z-index: 1;                        
                    }

                    img {
                        display: block;
                        width: 100%;
                    }
                }



                .acs-titledescriptionpanel-wrap {
                    position: absolute;                    
                    left: 90px;
                    top: 25%;
                    padding: 15px;
                    max-width: 350px;
                    height: 55px;
                    font-family: @common_font_CE_55_ROMAN;
					
                    a {
                        display: block;
                        margin-top: 10px;
                        height: 100%;
                        width: 100%;
                        text-decoration: none;
                    }

                    .acs-titledescriptionpanel-title {
                        display: block;
                        color: #333;
                        font-size: 28px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .acs-titledescriptionpanel-description {
                        display: block;
                        color: #333;
                        font-size: 15px;
                        width: 100%;
                        max-width: 100%;
                        line-height: 20px;
                        margin-top: 30px;
						word-break: keep-all;
                    }
                }
            }
        }

        .acs-slider-arrow-wrap {
            display: inline-block;
            position: absolute;
            top: e('calc(50% - 37px)');
            margin-top: -20px;            
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            z-index: 100;
            width: 100%;
            cursor: pointer;
        }

        .acs-slider-arrow-right {
            right: 0;
            position: absolute;
            div{                
                background-position: -34px -140px;
            }
        }

        .acs-slider-arrow-left {
            left: 0;
            position: absolute;
            div{
                background-position: 0px -140px;
            }            
        }

        .acs-slider-arrow:hover {
            background: rgba(0, 0, 0, 0.2);
        }

        .acs-slider-arrow-left, .acs-slider-arrow-right{
            width: 44px;
            height: 74px;
            background: rgba(68,68,68,0.2);
            text-align: center;
            line-height: 83px; 
        } 

        .acs-slider-arrow-left:hover, .acs-slider-arrow-right:hover{
            background: rgba(68,68,68,0.5)
        } 

        .acs-slider-arrow-left div, .acs-slider-arrow-right div{
                width: 34px;
                height: 34px;
                background-image: @bgimage_path;
                z-index: 100;
                cursor: pointer;
                display: inline-block;
        }

        .acs-slider-dots {
                position: absolute;
                bottom: 15px;
                height: 26px;
                text-align: center;
                z-index: 99;
                width: 100%;

                .acs-slider-dot {
                    display: inline-block;
                    margin: 10px;
                    width: 9px;
                    height: 9px;
                    background-color: #ccc;
                    cursor: pointer;
                    border-radius: 20px;
                }

                .acs-slider-dot-selected {
                    background: #f57d30;
                }
        }
    }

    @media(max-width:767px) {
        .acs-slider-pic-front{
            img{
                display: none !important;
            }

            .acs-titledescriptionpanel-wrap{
                left: 0px !important;
                top: 70% !important;
                max-width: 100% !important;

                .acs-titledescriptionpanel-title{
                    font-size: 16px !important;  
                    width: e('calc(100% - 20px)');                  
                }

                .acs-titledescriptionpanel-description{
                    margin-top: 12px !important;
                    font-size: 13px !important; 
                    width: e('calc(100% - 20px)') !important;    
                    line-height: 17px;                   
                }
            }
        }

        .acs-slider-dots{
            display:none !important;
        }

        .acs-slider-pic-back{            
            left: 0px !important;
            width: 100% !important;
            img{
                height: e('calc(100% - 100px)');
            }
        }

        .acs-slider-arrow-wrap{
            top: e('calc(50% - 77px)') !important;
        }

        
    }
}

.acs-categoryslider{
    .acs-titledescriptionpanel-title {
        color: #555555 !important;
    }
    .acs-titledescriptionpanel-wrap{
        top: 35%;
    }
}
